/* Select */
.select-button {
    width: 100%;
    display: flex;
    flex-direction: row;
}
  
.select-button-text {
    width: 100%;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
